
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-left: 10px;
  background-color: #111;
}

.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.sidenav a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.sidenav div:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.content {
  margin-left: 200px;
  padding-left: 20px;
}